.container {
  height: 80px;
  display: flex;
  align-items: center;

  /* border-bottom: 3px solid #EEE; */
}
.logo {
  margin: 20px;
}
.typeContainer {
  display: flex;
}
.type {
  margin: 0px 20px;
  font-size: 20px;
  font-weight: bold;
}
.active {
  color: #2656a4;
  font-weight: bold;
  cursor: pointer;
}
