.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contentWrapper {
  flex: 1;
}
.box {
  width: 100%;
  /* border: red solid 1px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
