.container {
  display: flex;
}

.optionsContainer {
  background-color: #2656a4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column; /* 세로 방향으로 배치 */
  align-items: center; /* 가로 가운데 정렬 */
}

.input {
  background-color: transparent;
  border-color: white;
  width: 230px;
  height: 45px;
  margin: 15px;
  color: white;
}

.timediv {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="time"]{
  position: relative;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  background: transparent;
  color: transparent; 
  cursor: pointer;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.input2 {
  background-color: transparent;
  border-color: white;
  width: 100px;
  height: 45px;
  margin: 15px;
  color: white;
}
.input > option {
  color: black;
}
.input::placeholder {
  color: white;
}
.button {
  width: 150px;
  height: 50px;
  margin-top: 40px;
  background-color: white;
  border: 2px solid #173363;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button:hover {
  background-color: #ebf1fb;
}
.button:active {
  background-color: #295baf;
  color: white;
}

.mapContainer {
  height: 100vh;
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.typeContainer {
  display: flex;
}

.type {
  font-size: 20px;
  margin: 0 10px;
  font-weight: bold;
  cursor: pointer;
}
.active {
  color: #2656a4; /* 클릭 시 블루 색상 */
}
.searchButton {
  width: 100px;
  height: 30px;
  margin-left: 10px;
  background-color: white;
  color: black;
  border: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.activeButton {
  background-color: #e0eafa; /* 클릭 시 배경색 변경 */
  color: black;
}
.form_placeorder {
  color: white;
  font-weight: bold;
}
#question{color: yellow;}
#question:hover{
  color: red;
  cursor: pointer;
}
